body {
    font-family: "Lucida Console", Courier, monospace;
}

h1 {
    text-shadow: 2px 2px red
}

td {
    padding-right: 20px
}

div.footer {
    font-size: 10px;
    text-align: right;
    color: #888;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

input.pass {
    height: 20px;
    width: 250px;
    padding: 9px 11px;
    font-family: "Lucida Console", Courier, monospace;
    border-radius: 10px;
}